html {
  scroll-behavior: smooth;
}

:root {
  --global-width: 800px;
  --global-half-width: 400px;
  --global-half-width: 256px;
}

body {
  background-color: #F8DF20;
  background-image: linear-gradient(rgba(0, 0, 0, 0.158) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 0, 0, 0.171) .1em, transparent .1em);
  background-size: 3em 3em;
  font-family: 'Courier New', Courier, monospace;
  color: azure;
  
}

#subbody {
  margin: 2em auto;
  background-color: #1f1e3b;
  width: 100%;
  max-width: var(--global-width);

  
} 

h1 {
  padding: 1em;
}
span {
  padding: 1em;
}