#output-box-container {
  scrollbar-color: var(--yellow-color) var(--black-second-color);
  scrollbar-width: thin;
  overflow-x: scroll;

  border-radius: 1em 1em 0.4em 0.4em;
  border: solid 0.1em var(--black-second-color);
 
  background-color: var(--black-second-color);
  margin: 0.5em;
}



#output-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  min-width: 512px;

}

.output-box-banner-container {
  background-color: #232321;

  display: block;
  padding: 0;

}

.output-box-banner {
  background-color: #FFDD00;
  color: #232321;
  display: block;
  padding: 0.2em 1em;

  border-radius: 1em;
  border: solid 5px #232321;
  font-weight: bold;
}

.output-box-code-container {
  padding: 0 1em;
  border-radius: 1em;
  border: 5px solid var(--black-second-color);
  
  border-top: 2px solid var(--black-second-color);
  background-color: #eee;
  min-height: 128px;


}