.script-box-item-container {
  margin: 0.5em 0.5em;
  background-color: var(--black-color);
  border-radius: 1.5em;
}

.script-box-item {

  font-size: 1.1em;
  padding: 0.2em 1em;
  border-radius: 1em;
  border: solid 2px #232321;
}

.sjsb-scripts-btns-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  scrollbar-color: var(--yellow-color) var(--black-second-color);
  scrollbar-width: none;
  overflow-x: scroll;
}